.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.mt-auto {
    margin-top: auto !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.footer {
    position: fixed;
    bottom: 1.7em;
    width: 100%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;  
}

footer {
    display: block;
}

*,
::after,
::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/NeueMachina-Light.ttf);
}
@font-face {
    font-family: myMainHeadFont;
    src: url(../fonts/NeueMachina-Medium.ttf);
}

.main-header {
    font-family: myMainHeadFont;
}
.body-bg{
    background-color: #080808;
    overflow-x: hidden;
}
p{
    font-family: myFirstFont;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }